.bg-gradient-11 {
  background: linear-gradient(180deg, #4895ef78 0%, #ffffff 100%) !important;
}

.contact-card {
  border-radius: 10px;
  background-color: $white;
  height: 600px;
  img {
    border-radius: 10px;
    height: 600px;
    width: 100%;
    object-fit: cover;
  }
}
.contact-card-small {
  background-color: $white;
  border-radius: 10px;
  padding: 40px 20px;
  height: 270px;
  margin: 1rem 0;

  @media (max-width: 1199.98px) {
    height: auto;
  }
  .contact-icon {
    color: $dodger-blue;
    margin-bottom: 1rem;
    width: 40px;
    height: 40px;
  }
  h2 {
    font-weight: 700;
    color: $black;
    opacity: 0.9;
    margin: 10px 0 20px 0;
    font-size: 1.5rem;
  }
  span {
    font-weight: 800;
    color: $black;
    opacity: 0.7;
  }
  a {
    color: $dark;
    opacity: 0.7;
    text-decoration: none;
    font-weight: 600;
    line-height: 2;
    &:hover {
      color: $dodger-blue;
      cursor: pointer;
    }
  }
}
